.messages {
  display: flex;
  padding: 5px;
  border-width: 1.5px;
  flex-direction: column;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 5px;
  height: 60vh;
  overflow-y: auto;
  width: 100%;
  background: rgb(249, 249, 250);
}

.messages::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #e5e0fc;
}

.messages::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(2, 3, 66);
}