.messageBlock {
  display: grid;
  max-width: 400px;
  grid-template-areas: "avatar header"
                       "avatar text"
                       "avatar actions";
  background: rgb(230, 230, 230);
  padding: 10px 10px 10px ;
  margin-bottom: 10px ;
  border-radius: 10px; 
  float: left;
  color: rgb(58, 57, 57);
}

.myMsgBlock {
   grid-template-areas: "header"
                        "text"
                        "actions";
  float: right;
  max-width: 400px;
  background: rgb(207, 227, 253);
}

.myMsgBlock .header {
  display: flex;
  flex-direction: row-reverse;

}
.myMsgBlock .avatar {
  display: none;
}

.avatar {
  grid-area: avatar;
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  margin: 10px;
}

.message {
  margin-bottom: 10px ;
}

.text {
  grid-area: text;
}

.userName {
  display: inline-block;
  margin: 0px 10px 10px;
  font-weight: bold;
  font-size: 1.3rem;
}

.createdAt {
  display: inline-block;
  font-size: 0.9rem;
  color: rgb(122, 122, 122);
}

.edited {
  display: inline-block;
  color: rgb(122, 122, 122);
  margin-left: 5px;
  font-size: 0.9rem;
  cursor: default;
}

.actions {
  grid-area: actions;
  display: flex;
  width: 100%;
  color: rgb(184, 183, 183);
  font-size: 0.8rem;
}

.myMsgActions {
  margin-left: auto;
}

.action:hover {
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.actions .like:hover {
  color: rgb(117, 5, 5);
}

.liked {
  color: rgb(117, 5, 5);
}

.myMsgActions {
  display: none;
}

.messageBlock:hover .myMsgActions {
  display: inline-block;
}

.myAction {
  display: inline-block;
  margin-right: 5px;
}
