body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.segment {
  position: relative;
  padding: 5px;
  margin: 10px;
  border-width: 1.5px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 5px;
  width: 100%;
  background: rgb(249, 249, 250);
}