.inputBlock {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "text btn";
  position: relative;
}

.btnBlock {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 8px;
}

.text {
  display: flex;
}

.container {
  position: relative;
}

.picker {
  position: absolute;
  bottom: 120px;
  left: 400px;
  z-index: 1;
}

.text textarea {
  border: none;
  width: 95%;
  margin: 5px 10px ;
  resize: none;
  border-radius: 3px;
}

.btn {
  margin: 5px !important;
  width: 90px;
}

.smileBtn {
  cursor: pointer;
  display: inline-block;
  height: 12px;
}