.btn {
  margin-bottom: 5px !important;
}

.smileBtn {
  cursor: pointer;
  display: inline-flex;
  padding: 3px;
  height: 12px;
}

/* .modal {
  position: relative;
} */

.content {
  display : "flex";
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin: 10px;
  margin-bottom: 0px;
  align-content: flex-start;
}

.content textarea {
  width: 90%;
  resize: none;
  border-radius: 3px;
}

.picker {
  position: "absolute";
  left: 200px;
}